<!DOCTYPE html>
<html>
<head>
    <title>Welcome to WorkHook</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="container login-box col-sm-4">
        <div class="col-sm-12 d-flex justify-content-center mb-5">
            <img src="/images/logo.png" alt="" class="logo">
        </div>

        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-center">
                    <h2 class="mb-0">Sign In</h2>
                </div>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="email..." name="email" style="font-size: 1.2rem;">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control border-none" placeholder="password..." name="password" style="font-size: 1.2rem;">
                    </div>
                    <div class="row d-flex justify-content-center mr-auto">
                        <span>Don't have an account?<a href="#" class="forgot-pw float-right pl-1"><strong>Sign up.</strong></a></span>
                    </div>
                    <div class="row d-flex justify-content-center mt-3">
                        <!-- <input type="submit" class="btn btn-md login-btn"> -->
                        <button class="btn btn-md login-btn" type="submit">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>